# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Environment / secrets
.env

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Data

data/processed/*



# Model artifacts
data/models/*.pt
checkpoints/
outputs/
runs/
data/models/*.py

# Caches
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Mac
.AppleDouble
.LSOverride

